<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Adam Kurek</title>
    <script src="/static/js/scripts.js"></script>
</head>
<body>


<div class="topnav" data-aos="fade-up" id="myTopnav" data-aos-duration="650" data-aos-once="true">
    <a href="#contact" class="topnav-scroll"> Contact</a>
    <a href="#about"><span> 01.</span>About</a>
    <a href="#services"> <span> 02.</span>Services</a>
    <a href="#portfolio"><span>03.</span>Portfolio</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>

</div>


<div class="container">
    <div class="left-side">
        <div class="bottom-left-nav">
            <a href="https://github.com/Kurk3"><img class="icon" src="/static/img/github.png"></a>
            <a href="https://www.instagram.com/adamkurek_/"><img class="icon" src="/static/img/instagram.png"></a>
            <a href="https://twitter.com/AdamKurek19"><img class="icon" src="/static/img/twitter.png"></a>
            <a href="https://www.linkedin.com/in/adam-kurek-665b8522a/"><img class="icon"
                                                                             src="/static/img/linkedin.png"></a>
            <img class="line" src="/static/img/vertical-line.png">
        </div>
    </div>

    <div class="center-content">
        <section class="entry-section">
            <div class="align-left">
                <h1>Hello,</h1>
                <h1>I am Adam Kurek</h1>
                <h3>web developer</h3>
                <h2 data-aos="fade-left" data-aos-duration="3000" data-aos-once="true">full-stack developer</h2>
                <a href="" data-aos="fade-up" data-aos-duration="1500">Contact me</a>
            </div>
        </section>

        <div class="brake">
        </div>

        <section class="about-section" id="about">
            <div class="heading_line">
                <h1><span class="main_highlight">01.</span>About Me</h1>
                <img class="line" src="/static/img/horizontal_line.png">
            </div>
            <div class="content-about-page">
                <div class="text">
                    <p>Hi I'm Adam I am a web developer whose main focus is frontend. The technologies I use are <span
                            class="highlight-text hover-underline-animation">HTML</span>,
                        <span class="highlight-text hover-underline-animation">JavaScript</span>, <span
                                class="highlight-text hover-underline-animation">CSS</span> more
                        specifically <span class="highlight-text hover-underline-animation">React.js</span> and <span
                                class="highlight-text hover-underline-animation">tailwind</span>.<br>

                        The backend technologies I use are mainly <span
                                class="highlight-text hover-underline-animation">Python(Flask)</span>
                        ,<span class="highlight-text hover-underline-animation">Node.js</span> and
                        sometimes <span class="highlight-text hover-underline-animation">PHP</span> .</p>
                    <p>
                        Also well organised person, systematic problem solver. Stubborn book
                        reader hiker and fitness lover.
                    </p>
                    <br>
                    <p>
                        I have a blog where i document my coding journey. You can find it right here: <span
                            class="invincible">_</span><a href=""
                                                          class="blog-about-me hover-underline-animation">Blog </a></p>
                </div>


                <div class="picture">
                    <div class="front"></div>
                    <img class="back" src="/static/img/photomy.png">
                </div>
            </div>
        </section>

        <div class="sectional-brake"></div>
        <section class="services-section" id="services">
            <div class="sectional-brake"></div>
            <div class="heading_line">
                <img class="line" src="/static/img/horizontal_line.png">
                <h1><span class="main_highlight">02.</span>Services</h1>
                <img class="line" src="/static/img/horizontal_line.png">
            </div>

            <div class="service-container">
                <div class="rownum1">
                    <div class="service-small-container">
                        <div class="service-element">
                            <img id="toHide" src="/static/img/img_5.png">
                            <h2 id="toHide2"><span id="toHide3" class="highlight-text-heading">01.</span>Development
                            </h2>
                            <p id="hiddenMessage" style="display:none"><span class="bulletpoint"> ‣</span>From an idea
                                in
                                your head to the website that will
                                not be liked only by me and you but your <span class="highlight-text">customers</span>
                                and <span class="highlight-text">clients.</span></p>
                            <div class="round_buttons">
                                <button class="button1" id="button1"></button>
                                <button class="button2" id="button2"></button>
                            </div>
                        </div>
                        <div class="service-element-background"></div>
                    </div>

                    <div class="service-small-container">
                        <div class="service-element">
                            <img id="toHide_01" src="/static/img/img_6.png">
                            <h2 id="toHide_02"><span id="toHide_03" class="highlight-text-heading">02.</span>SEO
                            </h2>
                            <p id="hiddenMessage01" style="display:none"><span class="bulletpoint"> ‣</span> I am
                                making
                                browser friendly website that will rank top of the search results and reach to as
                                many
                                potential clients as possible :)</p>

                            <div class="round_buttons">
                                <button class="button1" id="button_01"></button>
                                <button class="button2" id="button_02"></button>
                            </div>
                        </div>
                        <div class="service-element-background-line">
                        </div>
                    </div>
                </div>

                <div class="rownum2">
                    <div class="service-small-container">
                        <div class="service-element">
                            <img id="toHide1_1" src="/static/img/img_7.png">
                            <h2 id="toHide1_2"><span id="toHide1_3" class="highlight-text-heading">03.</span>UX
                                Design</h2>
                            <p id="hiddenMessage02" style="display:none"><span class="bulletpoint"> ‣</span>How many
                                times
                                did you want to buy something and you close the website because you don't like how
                                it
                                looks.. I can make your website thematic,interactive and user friendly.</p>
                            <div class="round_buttons">
                                <button class="button1" id="button_1_1"></button>
                                <button class="button2" id="button_1_2"></button>
                            </div>
                        </div>
                        <div class="service-element-background">
                        </div>
                    </div>

                    <div class="service-small-container">
                        <div class="service-element">
                            <img id="toHide_2_1" src="/static/img/img_8.png">
                            <h2 id="toHide_2_2"><span id="toHide_2_3" class="highlight-text-heading">04.</span>Copywriting
                            </h2>
                            <p id="hiddenMessage03" style="display:none"><span class="bulletpoint"> ‣</span>Product
                                or
                                service that you provide should have engaging short and interesting description to be
                                able to sell.</p>
                            <div class="round_buttons">
                                <button class="button1" id="button_2_1" onclick="hideText3()"></button>
                                <button class="button2" id="button_2_2" onclick="revealText3()"></button>
                            </div>
                        </div>
                        <div class="service-element-background-line"></div>
                    </div>
                </div>
            </div>
        </section>


        <section class="work-process">
            <div class="sectional-brake"></div>
            <div class="heading_line2">
                <img class="line" src="/static/img/horizontal_line.png">
                <div class="work-process-heading">
                    <h6>This is how i work...</h6>
                    <h1>My Work Process</h1>
                </div>
                <img class="line" src="/static/img/horizontal_line.png">
            </div>

            <div class="work-process-flex">
                <div class="work-process-row1">
                    <div class="work-process-container">
                        <div class="work-process-element"></div>
                        <div class="work-process-background" id="line1">
                            <img src="/static/img/img_9.png" id="a">
                            <h1 id="a">Information Gathering</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Information Gathering </h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process"> ‣ </span> your business<br>
                                    <span class="text-highlight-work-process">‣ </span> your goals<br>
                                    <span class="text-highlight-work-process">‣ </span> vision<br>
                                    <span class="text-highlight-work-process">‣ </span> competitors<br>
                                    <span class="text-highlight-work-process">‣ </span> targeted audience</p>
                            </div>
                        </div>
                    </div>

                    <div class="work-process-container">
                        <div class="work-process-element"></div>
                        <div class="work-process-background" id="line2">
                            <img src="/static/img/img_10.png" id="a">
                            <h1 id="a">Research</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Research</h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process">‣ </span> competitive
                                    analysis<br>
                                    <span class="text-highlight-work-process">‣ </span>Keyword research<br>
                                    <span class="text-highlight-work-process">‣ </span>Best possible UI theme
                                    for
                                    your
                                    niche<br>
                            </div>
                        </div>
                    </div>


                    <div class="work-process-container">
                        <div class="work-process-element"></div>
                        <div class="work-process-background" id="line3">
                            <img src="/static/img/img_11.png" id="a">
                            <h1 id="a">Planning</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Planning</h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process">‣ </span> Creating prototype<br>
                                    <span class="text-highlight-work-process">‣ </span>Structuring content<br>
                                    <span class="text-highlight-work-process">‣ </span>Visualisation<br>
                                    <span class="text-highlight-work-process">‣ </span>Consulting(about the idea
                                    of
                                    it
                                    and the content structure)<br>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="work-process-row2">
                    <div class="work-process-container">
                        <div class="work-process-element"></div>
                        <div class="work-process-background" id="line4">
                            <img src="/static/img/img_12.png" id="a">
                            <h1 id="a">Designing &<br>Content-writing</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Designing <br>& Content-writing</h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process">‣ </span> Creating design
                                    for
                                    desktop
                                    & Mobile<br>
                                    <span class="text-highlight-work-process">‣ </span>Writing SEO friendly
                                    content<br>
                                    <span class="text-highlight-work-process">‣ </span>Testing accesibilty<br>
                                    <span class="text-highlight-work-process">‣ </span>Simpilyfing <br>
                                    <span class="text-highlight-work-process">‣ </span>Consulting
                                    <br>
                            </div>
                        </div>
                    </div>

                    <div class="work-process-container">
                        <div class="work-process-element"></div>
                        <div class="work-process-background" id="line5">
                            <img src="/static/img/img_13.png" id="a">
                            <h1 id="a">Coding<br>& Testing</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Coding & Testing</h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process">‣ </span> Creating
                                    responsive
                                    design<br>
                                    <span class="text-highlight-work-process">‣ </span>adding animations and
                                    effects<br>
                                    <span class="text-highlight-work-process">‣ </span>coding server-side<br>
                                    <span class="text-highlight-work-process">‣ </span>Testing <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="work-process-row3">
                    <div class="work-process-container">
                        <div class="work-process-element-outline"></div>
                        <div class="work-process-background" id="line6">
                            <img src="/static/img/img_14.png" id="a">
                            <h1 id="a">Launch<br>& Analyze</h1>
                            <h2 id="a">[Hover me/Click me]</h2>
                            <h3 id="b">Launch & Analyze</h3>
                            <div class="work-process-element-text">
                                <p id="b"><span class="text-highlight-work-process">‣</span> Testing
                                    speed<br>
                                    <span class="text-highlight-work-process">‣ </span>Launching<br>
                                    <span class="text-highlight-work-process">‣ </span>traffic
                                    monitoring<br>
                                    <span class="text-highlight-work-process">‣ </span>analyzing and
                                    optimizing<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="portfolio-section" id="portfolio">
            <div class="sectional-brake"></div>
            <div class="heading_line">
                <img class="line" src="/static/img/horizontal_line.png">
                <div class="work-process-heading">
                    <h1><span class="main_highlight">03.</span>Portfolio Projects</h1>
                </div>
                <img class="line" src="/static/img/horizontal_line.png">
            </div>

            <div class="portfolio-container">
                <div class="portfolio-row1">
                    <div class="portfolio-project" id="1">
                        <div class="top-div">
                            <div class="image-div">
                                <img class="img-left" src="/static/img/img_35.png">
                            </div>

                            <div class="share-div">
                                <img class="img-git" src="/static/img/github.png">
                                <img class="img-right" src="/static/img/share.png">
                            </div>
                        </div>

                        <div class="text-project">

                            <h1 id="project1">Networking app</h1>
                            <div class="text-project-text-part">
                                <p>This app contains fundementals about networking and how internet works.</p>
                            </div>

                            <div class="skill-part-porfolio">
                                <p>Flask</p>
                                <p>SCSS</p>
                                <p>HTML</p>
                                <p>JavaScript</p>
                            </div>
                            <div class="skill-part-porfolio">
                                <p>Python</p>
                                <p>PostgreSQL</p>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-project" id="2">
                        <div class="top-div">
                            <div class="image-div">
                                <img class="img-left" src="/static/img/img_35.png">
                            </div>

                            <div class="share-div">
                                <img class="img-git" src="/static/img/github.png">
                                <img class="img-right" src="/static/img/share.png">
                            </div>
                        </div>

                        <div class="text-project">
                            <h1 id="project2">Networking app</h1>
                            <div class="text-project-text-part">
                                <p>This app contains fundementals about networking and how internet works.</p>
                            </div>

                            <div class="skill-part-porfolio">
                                <p>Flask</p>
                                <p>SCSS</p>
                                <p>HTML</p>
                                <p>JavaScript</p>
                            </div>
                            <div class="skill-part-porfolio">
                                <p>Python</p>
                                <p>PostgreSQL</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="portfolio-row1">
                    <div class="portfolio-project" id="3">
                        <div class="top-div">
                            <div class="image-div">
                                <img class="img-left" src="/static/img/img_35.png">
                            </div>

                            <div class="share-div">
                                <img class="img-git" src="/static/img/github.png">
                                <img class="img-right" src="/static/img/share.png">
                            </div>
                        </div>

                        <div class="text-project">
                            <h1 id="project3">Networking app</h1>
                            <div class="text-project-text-part">
                                <p>This app contains fundementals about networking and how internet works.</p>
                            </div>

                            <div class="skill-part-porfolio">
                                <p>Flask</p>
                                <p>SCSS</p>
                                <p>HTML</p>
                                <p>JavaScript</p>
                            </div>
                            <div class="skill-part-porfolio">
                                <p>Python</p>
                                <p>PostgreSQL</p>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-project" id="4">
                        <div class="top-div">
                            <div class="image-div">
                                <img class="img-left" src="/static/img/img_35.png">
                            </div>

                            <div class="share-div">
                                <img class="img-git" src="/static/img/github.png">
                                <img class="img-right" src="/static/img/share.png">
                            </div>
                        </div>


                        <div class="text-project">
                            <h1 id="project4">Networking app</h1>
                            <div class="text-project-text-part">
                                <p>This app contains fundementals about networking and how internet works.</p>
                            </div>

                            <div class="skill-part-porfolio">
                                <p>Flask</p>
                                <p>SCSS</p>
                                <p>HTML</p>
                                <p>JavaScript</p>
                            </div>
                            <div class="skill-part-porfolio">
                                <p>Python</p>
                                <p>PostgreSQL</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contact_me-section" id="contact">
            <div class="sectional-brake"></div>
            <div class="heading_line2">
                <img class="line" src="/static/img/horizontal_line.png">
                <div class="work-process-heading">
                    <h6>let's have a call.</h6>
                    <h1>Contact me.</h1>
                </div>
                <img class="line" src="/static/img/horizontal_line.png">
            </div>

            <div class="contact-me-container">
                <div class="contact_me-textpart">
                    <div class="text-in-contact-me">
                        <p> Interested in entire spectrum of web development from frontend to backend so
                            if you have any ideas that want to be realised hit me with message or send me an email.
                        </p>
                    </div>
                </div>
                <div class="contact-part">
                    <a href="https://www.linkedin.com/in/adam-kurek-665b8522a/">Linked-in</a>
                    <a href="https://www.instagram.com/adamkurek_/">Instagram</a>
                    <a href="https://twitter.com/AdamKurek19" class="twitter">Twitter</a>
                    <a href="mailto:kurekadam314@gmail.com" class="Email">Email</a>
                </div>
            </div>
        </section>
    </div>

    <div class="right-side">
        <div class="bottom-right-nav">
            <a href="mailto:kurekadam314@gmail.com">kurekadam314@gmail.com</a>
            <img class="line" src="/static/img/vertical-line.png">
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 3000,
        once: true,
    });
    window.addEventListener('load', AOS.refresh)
</script>
</body>
</html>